.container {
    position: relative;
    border: 1px solid green;
    display: table; /* рабчий хак для нормальной работы контейнера */
}

.float {
    float: left;
    border: 1px solid grey;
}

.flex {
    display: flex ;
    flex-direction: row ;
    flex-wrap: wrap ;
    justify-content: space-around ;
    align-items: flex-end ;
    align-content: space-around ;
}

.flex__name {
    border: 1px solid greenyellow;
}

.flex__name_label {
    flex: 1 0 90%;

}